<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>sirio</name>
    <displayName><![CDATA[Sirio]]></displayName>
    <version><![CDATA[0.1.0]]></version>
    <description><![CDATA[Sirio is an advanced monitoring system ideal for E-Commerce, with plans that can be adapted according to the number of visitors to the site. Sirio receives a large amount of data in real-time and analyzes customers' behavior within the website, tracing all the interactions to find any possible anomaly that it might encounter in the funnel.]]></description>
    <author><![CDATA[Chiron]]></author>
    <tab><![CDATA[analytics_stats]]></tab>
    <confirmUninstall><![CDATA[Are you sure you want to delete these details?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
    <limited_countries></limited_countries>
</module>